*{
    margin: 0;
    padding: 0;
    
}

.header{
   display: flex;
   align-items: baseline;
   /* -ms-flex-align: end; */
   justify-content:space-between;
    border: 2px solid red;
    top:0;
    left: 0;
    width: 99.7%;
    /* position: fixed; */
}

.main_note{
    /* border: 2px solid black; */
    width: 50%;
    margin: auto;
    height: auto;
    margin-top: 1em;


}
.note-form{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    
    box-shadow: 0 0 5px rgb(223, 214, 214);

}
.note-form input{
    height: 2em;
    border: none;
    width: 100%;
    margin: 1em 0;
    outline: none;
}
.note-form textarea{
    border: none;
    outline: none;
    width: 100%;
}

.button-div{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
        /* width: 10%; */
    /* margin: auto; */
    /* right: 0%; */
    /* left: 0; */
}



.note{
    /* border: 2px solid red; */
    min-width: 30%;
    border-radius: 10px;
    /* min-width: 10%; */
    cursor: pointer;
    box-shadow: 0 0 5px rgb(198, 194, 194);
    margin: 1em 0;
    /* display: inline; */
}

.content{
    /* border: 2px solid black; */
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
















.footer{
    /* border: 2px solid red; */
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: rgb(200, 199, 197);
    width: 100%;
}